<template>
     <div id="mapid"></div>
</template>

<script>

import L from 'leaflet'

export default {
  props: ['lat', 'lon'],
  mounted () {
    this.mymap =
      L.map('mapid')
      //   .setView([51.505, -0.09], 13)
        .setView([this.lat, this.lon], 13)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(this.mymap)
  },
  methods: {
    centerMap () {
      this.mymap.setView([this.lat, this.lon])
    }
  },
  watch: {
    lat () {
      this.centerMap()
    },
    lon () {
      this.centerMap()
    }
  }
}
</script>

<style>
#mapid { height: 360px; }
@import '../../node_modules/leaflet/dist/leaflet.css';
</style>
