<template>
    <v-app>
      <v-toolbar color="indigo" dark>
        <v-toolbar-title>
          <span class="hidden-sm-and-down">Vanilla JS App</span>
        </v-toolbar-title>
      </v-toolbar>
      <v-content>
        <v-container fluid>
          <mc-address
            :address="from"
            label="From"
            @select="selectedAddress = from"
          ></mc-address>
          <mc-address
            :address="to"
            label="To"
            @select="selectedAddress = to"
          ></mc-address>
          <v-btn @click="selectedAddress = from">
            change address to from
          </v-btn>
          <v-btn @click="selectedAddress = to">
            change address to to
          </v-btn>
          <transition name="fade">
            <mc-address-form
              :address="selectedAddress"
              v-if="selectedAddress !== ''"
            ></mc-address-form>
          </transition>

          <Map :lat="lat" :lon="lon"/>
          <v-btn @click="fetchNominatimResult">
                Fetch toulouse
              </v-btn>
  <table>
<tr
  v-for="result in results"
  :key="result.osm_id"
  @mouseover="updateLatLon(result)"
>
  <td>{{result.class}}</td>
  <td>{{result.display_name}}</td>
  <td>{{result.lat}}</td>
  <td>{{result.lon}}</td>
</tr>
  </table>
        </v-container>
      </v-content>
      <v-footer app color="indigo" dark fixed>Footer vanilla JS</v-footer>
    </v-app>
</template>

<script>
import axios from 'axios'
import Address from './components/Address'
import AddressForm from './components/AddressForm'
import './filters/uppercase'
import Map from './components/Map'

export default {
  name: 'App',

  components: {
    'mc-address': Address,
    'mc-address-form': AddressForm,
    Map
  },
  methods: {
    async fetchNominatimResult (search = 'Toulouse') {
      const response = await axios.get('https://nominatim.openstreetmap.org/search/' + 'toulouse' + '?format=json')
      console.log(response.data)
      this.results = response.data
    },

    updateLatLon (result) {
      this.lat = result.lat
      this.lon = result.lon
      this.currentDisplayName = result.display_name
    }
  },

  data: () => ({
    from: {
      road: 'Rue Jean Weber',
      complement: 'A20',
      zipCode: '31100',
      city: 'Toulouse',
      country: 'France',
      state: ''
    },
    to: {
      road: 'Rue Reguelongue',
      complement: '',
      zipCode: '31100',
      city: 'Toulouse',
      country: 'France',
      state: ''
    },
    selectedAddress: '',
    results: [],
    overpassData: [],
    lat: 51.505,
    lon: -0.09,
    currentDisplayName: 'London'
  })
}
</script>
